* text=auto
* eol=lf

/.git           export-ignore
/.gitignore     export-ignore
/tests          export-ignore
/.travis.yml    export-ignore
/phpunit.xml    export-ignore
/README.md      export-ignore